nav {
    font-family      : 'Lato', sans-serif;
    background-color : #424242;
    color            : white;
}

.github-link {
    position : absolute;
    right    : 0;
    top      : 0;
}

.github-link svg {
    fill  : #FFF;
    color : #424242;
}

.card {
    max-width     : 400px;
    border-radius : 15px;
    padding       : 3rem 1rem;
    box-shadow    : 10px 10px 20px #8A8A8A08;
}



@media screen and (max-width: 767px){
    .card-wrapper {
        order: -1;
        margin-bottom: 4rem;
    }
}