nav {
    font-family      : 'Lato', sans-serif;
    background-color : #424242;
    color            : white;
}

.github-link {
    position : absolute;
    right    : 0;
    top      : 0;
}

.github-link svg {
    fill  : #FFF;
    color : #424242;
}

.card {
    max-width     : 400px;
    border-radius : 15px;
    padding       : 3rem 1rem;
    box-shadow    : 10px 10px 20px #8A8A8A08;
}



@media screen and (max-width: 767px){
    .card-wrapper {
        order: -1;
        margin-bottom: 4rem;
    }
}

@-moz-keyframes dots-loader {
    0% {
        -moz-box-shadow : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow      : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    8.33% {
        -moz-box-shadow : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow      : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    16.67% {
        -moz-box-shadow : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow      : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    25% {
        -moz-box-shadow : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow      : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    33.33% {
        -moz-box-shadow : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
        box-shadow      : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
    }
    41.67% {
        -moz-box-shadow : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow      : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    50% {
        -moz-box-shadow : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow      : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    58.33% {
        -moz-box-shadow : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow      : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    66.67% {
        -moz-box-shadow : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow      : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    75% {
        -moz-box-shadow : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow      : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    83.33% {
        -moz-box-shadow : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
        box-shadow      : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
    }
    91.67% {
        -moz-box-shadow : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow      : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    100% {
        -moz-box-shadow : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow      : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
}

@-webkit-keyframes dots-loader {
    0% {
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    8.33% {
        -webkit-box-shadow : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    16.67% {
        -webkit-box-shadow : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    25% {
        -webkit-box-shadow : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    33.33% {
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
    }
    41.67% {
        -webkit-box-shadow : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    50% {
        -webkit-box-shadow : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    58.33% {
        -webkit-box-shadow : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    66.67% {
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    75% {
        -webkit-box-shadow : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    83.33% {
        -webkit-box-shadow : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
        box-shadow         : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
    }
    91.67% {
        -webkit-box-shadow : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    100% {
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
}

@keyframes dots-loader {
    0% {
        -moz-box-shadow    : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    8.33% {
        -moz-box-shadow    : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        -webkit-box-shadow : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    16.67% {
        -moz-box-shadow    : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        -webkit-box-shadow : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 14px 14px 0 7px, #FC6 14px 14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    25% {
        -moz-box-shadow    : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
        -webkit-box-shadow : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    33.33% {
        -moz-box-shadow    : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE -14px -14px 0 7px;
    }
    41.67% {
        -moz-box-shadow    : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        -webkit-box-shadow : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 14px -14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    50% {
        -moz-box-shadow    : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        -webkit-box-shadow : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    58.33% {
        -moz-box-shadow    : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        -webkit-box-shadow : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 -14px 14px 0 7px, #FC6 -14px 14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    66.67% {
        -moz-box-shadow    : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 -14px -14px 0 7px, #6D7 -14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    75% {
        -moz-box-shadow    : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
        -webkit-box-shadow : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
        box-shadow         : #F86 14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px -14px 0 7px, #4AE 14px -14px 0 7px;
    }
    83.33% {
        -moz-box-shadow    : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
        -webkit-box-shadow : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
        box-shadow         : #F86 14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE 14px 14px 0 7px;
    }
    91.67% {
        -moz-box-shadow    : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        -webkit-box-shadow : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px 14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
    100% {
        -moz-box-shadow    : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        -webkit-box-shadow : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
        box-shadow         : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    }
}

/* :not(:required) hides this rule from IE9 and below */
.dots-loader:not(:required) {
    overflow                 : hidden;
    position                 : relative;
    text-indent              : -9999px;
    display                  : inline-block;
    width                    : 7px;
    height                   : 7px;
    background               : transparent;
    border-radius            : 100%;
    -moz-box-shadow          : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    -webkit-box-shadow       : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    box-shadow               : #F86 -14px -14px 0 7px, #FC6 14px -14px 0 7px, #6D7 14px 14px 0 7px, #4AE -14px 14px 0 7px;
    -moz-animation           : dots-loader 5s infinite ease-in-out;
    -webkit-animation        : dots-loader 5s infinite ease-in-out;
    animation                : dots-loader 5s infinite ease-in-out;
    -moz-transform-origin    : 50% 50%;
    -ms-transform-origin     : 50% 50%;
    -webkit-transform-origin : 50% 50%;
    transform-origin         : 50% 50%;
}